.week_day {
    display: inline-block;
    width: 14.2%;
    border: 1px solid #ccc;
    padding: 10px;
    margin-right: -1px;
    box-sizing: border-box;
    vertical-align:top;
  }

.week_day h2 {
    text-align: center;
  }

.time {
    font-style: italic;
    font-size: 12px;
    margin: 0;
  }

.turn {
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  background-color: lightblue;
  border: 1px solid black;
}

.date {
  font-size: small;
  font-style: italic;
  text-align: center;
}

.turns {
  height: 910px;
  position: relative;
  cursor: pointer;
}

.user {
  margin-top: 4px;
  margin-bottom: 0px;
  font-size: 12px;
}

.free {
  background-color: lightgray;
}